@font-face {
    font-family: "Lato Regular";
    src: url("assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  }
  
@font-face {
    font-family: "Lato Light";
    src: url("assets/fonts/Lato/Lato-Light.ttf") format("truetype");
}
  
@font-face {
    font-family: "Lato Bold";
    src: url("assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
}
  
@font-face {
    font-family: "Lato Black";
    src: url("assets/fonts/Lato/Lato-Black.ttf") format("truetype");
}

* {
    margin: 0;
    font-family: "Lato Regular", sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.contact {
    max-width: 1020px;
    margin: auto;
    padding: 60px 40px 66px;
    box-sizing: border-box;
    background-color: #f06c64;
    color: #f0d8d9;
    border-bottom: solid 6px #ea676b;
}

.contact-header h2 {
    font-size: 30px;
    font-family: "Lato Black", sans-serif;
    padding-bottom: 18px;
}

.contact-header p {
    font-size: 18px;
    font-family: "Lato Light", sans-serif;
    text-align: justify;
    line-height: 30px;
}

.contact-form {
    display: flex;
}
